@tailwind base;
@tailwind components;
@tailwind utilities;

.loader-wrapper {
  background-image: url("../public/images/login-bg-full.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.screen_pop.drop_down_custom button.selected {
  background: url("../public/images/selected-tick.gif") no-repeat 95% 11px
    #f4fbfa;
}
.project-activity .activity-item-body:hover span {
  color: #00a99b;
}
.makeStyles-MainContainer-1 {
  background: #fafbfd !important;
}
strong,
b {
  font-weight: 500;
}
.modal_header h2 {
  font-family: "Manrope" !important ;
  font-weight: 700;
  font-size: 24px;
}

#close_icon {
  height: 2rem;
  width: 2rem;
}

.plus_btn Button {
  padding: 10px;
  width: 142px;
  height: 160px;
}
input {
  --tw-ring-shadow: 0 0 #000 !important;
}
.MuiMenu-list {
  padding: 0 !important;
}
.MuiMenu-list li {
  border-bottom: 1px solid #eee;
  padding: 8px 12px;
}
.MuiMenu-list li:hover {
  background: #f2fffe;
}
.MuiMenu-list li:last-child {
  border-bottom: none;
}

.custom_select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background: url("../public/images/down-arrow-b.png") no-repeat 98% #fff;
  background-size: 20px;
}
.smallMenu-icons .items-center h2,
.smallMenu-icons h3,
.smallMenu-icons p,
.smallMenu-icons span,
.smallMenu-icons .search_sidebar,
.smallMenu-icons .favrt_sidebar,
.smallMenu-icons .getting_started-btn {
  display: none;
}
.sidebarMenu-section {
  transition: all 0.5s ease;
}
.setting_menuList .hide_text {
  display: none;
}
textarea:focus {
  outline: none;
  box-shadow: none;
}

body .custom_table table tr th,
body .custom_table table tr td {
  padding: 10px 20px !important;
}
/* .decoration_text{
  text-orientation: upright !important;
  writing-mode: vertical-lr !important;


} */
.changeRequest_page label {
  position: relative;
  top: 1px;
}
.riskBg {
  background: #fdbd19;
}
.issueBg {
  background: #de3b3b;
}
.onHoldBg {
  background: #aaa7a7;
}
.onTrackBg {
  background: #64b735;
}
.onCompletedBg {
  background: #0e62e1;
}

.MuiAvatarGroup-avatar {
  height: 25px !important;
  width: 25px !important;
  font-size: 16px !important;
}
.onCompletedBg {
  background: #0e62e1;
}
.commonDropDown li .selected-icon
{
  opacity: 0;
 
}
.commonDropDown li.selected .selected-icon
{
  opacity: 1;
 
}
.riskTable table th span
{
  display: none !important;
}
.riskTable table th span.active
{
  display: inline-block !important;
}
.sidebar_collapse .active.flex
{
  color: #333 !important;
}
.sidebar_collapse .active-project
{
  color: #333 !important;
}
.profileSetting-page label,
.profileSetting-page label h3
{
  font-size: 14px !important;
  color: #9399AB !important;
  font-weight: 600 !important;
}
.profileSetting-page input,
.profileSetting-page select,
.profileSetting-page label input
{
  font-size: 14px !important;
  font-weight: 400 !important;
}


.task-modal {
  position: fixed;
  z-index: 100000;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #313135;
  color: #eee;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;

  border-top: 1px solid #ccc;
  border-radius: 20px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cross-icon {
  margin-left: 4px;
  cursor: pointer;
}
@media screen and (max-width: 1400px) {
  .leftTasview-fixed {
    position: sticky;
    left: 0;
    width: 30%;
    min-width: 30%;
    background: #f5f5f5;
    overflow: hidden;
    z-index: 999;
  }
}